html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.container {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 12fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 0px;
  background-color: white;
}

.container div {
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
  background-color: rgb(202, 147, 93);
  color: rgb(255, 255, 255);
}

.container div.content {
  grid-area: content;
}

.container div.footer {
  grid-area: footer;
  background-color: rgb(131, 96, 61);
  color: rgb(255, 255, 255);
  text-align: center;
}