.nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: stretch;

    height: calc(var(--grid-cell) * 6);
    padding: 0;
}

.nav::before {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 100vw;

    content: "";
    background: var(--color-bg);
    transform: translateX(-50%);
}

.nav::after {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 50%;

    width: 100vw;
    height: 1px;

    content: "";
    background: var(--color-line);
    transform: translateX(-50%);
}

.nav__list {
    display: flex;
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__list li {
    flex: 0 0 auto;
}

.nav__list a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(var(--grid-cell) * 12);
    height: 100%;
    padding: 0;

    text-decoration: none;
}

.nav__list a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 1px;
    pointer-events: none;
    content: "";
    background: var(--color-line);
}

.nav__list a:hover,
.nav__list a:focus-visible {
    background: var(--color-text);
    color: var(--color-surface);
}
